.product-card-container {
  padding: 1.5rem;
}

.image-container {
  position: relative;
  width: 100%;
  padding-bottom: 125%;
  overflow: hidden;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar-nav {
  text-align: center;
}

